html, body {
    width: 100%;
    height: 100%;
    margin: 0px;;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.header {
    width: 100%;
    height: 100%;
    background-color: #1c004c;
    padding-top: 0px;
    padding-bottom: 0px;
    background-size: cover;
}

.main-logo {
    position: fixed;
    width: 60%;
    top: 10%;
    left: 20%;
}